asgiref==3.8.1
beautifulsoup4==4.12.3
bs4==0.0.2
build==1.2.2.post1
certifi==2024.7.4
charset-normalizer==3.3.2
click==8.2.1
colorama==0.4.6
Django==5.1.5
idna==3.7
lxml==5.2.2
packaging==25.0
pip-tools==7.4.1
psycopg2-binary==2.9.10
pyproject_hooks==1.2.0
requests==2.32.3
six==1.17.0
soupsieve==2.5
sqlparse==0.5.3
transliterate==1.10.2
tzdata==2025.1
urllib3==2.2.2
